Ignore everything ...
*

... expect
!.gitignore

!wallpaper.png
!Makefile

!.zshrc
!.xinitrc

!.atom
.atom/*
!.atom/config.cson

!.gtkrc-2.0

!.config
.config/*

!.config/gtk-3.0
!.config/gtk-3.0/*

!.config/i3
!.config/i3/*

!.config/termite
!.config/termite/*
